.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
}
.comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 87%;
  height: 400px;
}
.title {
  margin-top: 59px;
  font-family: var(--font_mont);
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: var(--accent);
}
.but {
  position: absolute;
  right: 0;
  margin-right: 110px;
  margin-top: 310px;
  display: flex;
  justify-content: center;
}
