.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.title {
  font-family: var(--font_mont);
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: var(--black);
}
.but {
  font-family: var(--font_mont);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--grey_dark);
  cursor: pointer;
}
.container {
  width: 313px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name {
  font-family: var(--font_mont);
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 62px;
  color: var(--black);
  margin-top: 73px;
}
.box_inp {
  width: 100%;
  margin-top: 41px;
}
.inp {
  width: 100%;
  border-bottom: 1px solid black;
  font-family: var(--font_mont);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--grey_dark);
  height: 25px;
  margin-bottom: 31px;
}
.log {
  width: 210px;
  height: 45px;
  background-color: var(--purple);
  border-radius: 70px;
  font-family: var(--font_mont);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: var(--white);
  margin-bottom: 73px;
}
